# Database configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/campustrack

# JWT Config
JWT_SECRET=supersecretjwtsecretkeychangeinproduction
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
