@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}
body {
  background: #020617;
  -webkit-font-smoothing: antialiased;
}

/* thin scrollbars */
*::-webkit-scrollbar { width: 6px; height: 6px; }
*::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.12); border-radius: 999px; }
*::-webkit-scrollbar-track { background: transparent; }
